{% extends 'admin/layout.html.twig' %}

{% block title %}New News{% endblock %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ 'week.create.title'|trans }}</h1>
    </div>

    {{ include('admin/week/_form.html.twig') }}

    <a href="{{ path('admin_week_index') }}">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
