.information {
  margin: 0;
  //overflow: hidden;
  background: -moz-linear-gradient(-45deg, #ffe0e3 32%, #a7e0e5 68%);
  background: -webkit-linear-gradient(-45deg, #ffe0e3 32%, #a7e0e5 68%);
  background: linear-gradient(135deg, #ffe0e3 32%, #a7e0e5 68%);
  position: relative;
  z-index: 0;
  padding:15px;
  .card-title{
    font-size: 2rem;
  }
  .card-text{
    font-size: 1.25rem;
  }
  .information-container {
    position: relative;
    ul {
      padding-left: 0;
      list-style: none;
    }
  }
}

@keyframes circle-ani1 {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  20% {
    transform: translateX(20px) translateY(-10px);
  }
  40% {
    transform: translateX(-10px) translateY(-30px);
  }
  60% {
    transform: translateX(-20px) translateY(-10px);
  }
  80% {
    transform: translateX(10px) translateY(10px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
@keyframes circle-ani2 {
  0% {
    transform: translateX(20px) translateY(0px);
  }
  20% {
    transform: translateX(-10px) translateY(20px);
  }
  40% {
    transform: translateX(0px) translateY(-10px);
  }
  60% {
    transform: translateX(20px) translateY(0px);
  }
  80% {
    transform: translateX(-10px) translateY(20px);
  }
  100% {
    transform: translateX(20px) translateY(0px);
  }
}
@keyframes circle-ani3 {
  0% {
    transform: translateX(-30px) translateY(10px);
  }
  20% {
    transform: translateX(-10px) translateY(0px);
  }
  40% {
    transform: translateX(0px) translateY(-20px);
  }
  60% {
    transform: translateX(20px) translateY(10px);
  }
  80% {
    transform: translateX(15px) translateY(-20px);
  }
  100% {
    transform: translateX(-30px) translateY(10px);
  }
}

.circle1 {
  width: 500px;
  height: 500px;
  background-color: white;
  border: 0;
  opacity: 0.3;
  position: absolute;
  border-radius: 100%;
  bottom: -254px;
  left: -255px;
  animation: circle-ani1 10s infinite;
  animation-timing-function: linear;
}

.circle2 {
  width: 120px;
  height: 120px;
  background-color: white;
  border: 0;
  opacity: 0.5;
  position: absolute;
  border-radius: 100%;
  bottom: 214px;
  left: -69px;
  animation: circle-ani2 10s infinite;
  animation-timing-function: linear;
}

.circle3 {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 0;
  opacity: 0.6;
  position: absolute;
  border-radius: 100%;
  top: 183px;
  left: 78px;
  animation: circle-ani3 10s infinite;
  animation-timing-function: linear;
}

.circle4 {
  width: 220px;
  height: 220px;
  background-color: transparent;
  border: solid 2px white;
  opacity: 0.6;
  position: absolute;
  border-radius: 100%;
  bottom: -100px;
  left: 100px;
  animation: circle-ani3 10s infinite;
  animation-timing-function: linear;
}

.circle5 {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 0;
  opacity: 0.5;
  position: absolute;
  border-radius: 100%;
  bottom: 30px;
  left: 298px;
  animation: circle-ani2 10s infinite;
  animation-timing-function: linear;
}

.circle6 {
  width: 300px;
  height: 300px;
  background-color: transparent;
  border: solid 2px white;
  opacity: 0.6;
  position: absolute;
  border-radius: 100%;
  top: -150px;
  right: -80px;
  animation: circle-ani3 10s infinite;
  animation-timing-function: linear;
}

.circle7 {
  width: 165px;
  height: 165px;
  background-color: white;
  border: 0;
  opacity: 0.45;
  position: absolute;
  border-radius: 100%;
  top: 71px;
  right: -106px;
  animation: circle-ani1 10s infinite;
  animation-timing-function: linear;
}

.circle8 {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 0;
  opacity: 0.7;
  position: absolute;
  border-radius: 100%;
  top: 183px;
  right: 78px;
  animation: circle-ani2 10s infinite;
  animation-timing-function: linear;
}

