
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}


.ww-row {
  display: flex;
  justify-content: space-around;
}
.weatherCard {
  width: 100%;
  z-index: 1;
}
.weatherDate {
  font-size: 2rem;
}
.cityContainer {
  width: 100%;
  padding: 15px 30px;
}
.cityName {
  position: relative;
  font-size: 18px;
  text-align: right;
}
.iconTempWrapper {
  position:relative;
  display: block;
  text-align: right;
  justify-content: space-between;
  margin: 1rem 0;
}
.weatherIcon {
  padding: 0;
  font-size: 75px;
}
.weatherTemp {
  font-size: 45px;
  cursor: pointer;
  position: relative;
  opacity: 1;
  font-weight: normal;
  transition: 0.2s ease-out;
}
.weatherTemp:hover {
  opacity: 0.7;
}

.tempAndCity {
  text-align: right;
}
.tempAndCity p {
  padding: 0;
  margin: 0;
 // margin-top:20px;
}
.weatherDesc {
  font-size: 14px;
  padding-top: 3px;
  text-transform: capitalize;
  text-align: right;
}

.weatherForecast {
  height: 210px;
  width: 100%;
  background: #FFF;
  text-align: center;
}
.weatherForecast .forecastCard {
  position: relative;
  display: inline-block;
  margin: 2px;
  width: 33.33%;
  padding: 5px 8px;
  color: #444;
}

.forecastCard p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
}
.forecastCard .forecastIcons {
  font-size: 25px;
}
.forecastCard .forecastMin {
  color: #b3b3b3;
}

.sunny-class {
  background: rgba(255,232,161,1);
  background: radial-gradient(ellipse at center, rgba(255,232,161,1) 0%, rgba(245,202,101,1) 100%);
  color: #997300;
}
.cloudy-class {
  background: rgba(250,250,250,1);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(185, 192, 193, 1) 100%);
  color: #6d7f87;
}
.rainy-class {
  background: rgba(213,240,250,1);
  background: radial-gradient(ellipse at center, rgba(213,240,250,1) 0%, rgba(150,209,230,1) 100%);
  color: #006b99;
}
.stormy-class {
  background: #ABB6BB;
  background: radial-gradient(ellipse at center, rgb(199, 222, 230) 0%, rgb(155, 170, 175) 100%);
  color: #37474F;
}

.snow-class {
  background: rgba(153, 181, 191, 1);
  background: radial-gradient(ellipse at center, rgb(199, 212, 230) 0%, rgb(139, 164, 173) 100%);
  color: #395c6b;
}



#cards {
  text-align: center;
  width: 100%;
}

/* Generic CSS for the cards */

#cards .card {
  position: relative;
  width: 100%;
  height: 340px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.40), 0 10px 10px rgba(0,0,0,0.38);
  overflow: hidden;
  color: #dadada;
  background-color: #dadada;
}

#cards .card .top {
  position: relative;
  width: 100%;
  height: 100%;
  //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: height 400ms ease-in-out;
}

#cards .card .top .temp {
  position: absolute;
  top: 80px;
  font-size: 60px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  letter-spacing: 2px;
  color: #dadada;
}

#cards .card .top .temp:after {
  position: absolute;
  top: 4px;
  content: '°';
  font-size: 40px;
}

#cards .card .top .weather {
  position: absolute;
  top: 50px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.3px;
  color: #dadada;
}

#cards .card .top .city {
  position: absolute;
  top: 170px;
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: #cfcfcf;
  letter-spacing: 2px;
}

/* Specific CSS for the Sunny card */

.card.sunny .top {
  background-color: #df953a;
  background: linear-gradient(to bottom, #df953a, #a56312);
}

#cards .card.sunny .top.active {
  height: 60%;
}

.card.sunny .bottom {
  position: relative;
  width: 100%;
  height: 0;
  overflow: auto;
  color: #1d1102;
  padding-left: 14px;
  padding-right: 10px;
  font-size: 14px;
  transition: height 400ms ease-in-out;
}

#cards .card.sunny .bottom.active {
  height: 40%;
}

.card.sunny .bottom ul {
  list-style-type: none;
}

.card.sunny .bottom li {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: 1px solid #c9c9c9;
  cursor: pointer;
  text-align: left;
}

.card.sunny .bottom li.active:before {
  position: absolute;
  left: -10px;
  top: 17px;
  content: '';
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #1d1102;
}

.card.sunny .bottom li .day {
  letter-spacing: 1px;
}

.card.sunny .bottom li .temp {
  position: absolute;
  right: 0;
  top: 5px;
  color: #26221c;
  font-weight: bold;
  letter-spacing: 1px;
}

.card.sunny .bottom li .weather {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 12px;
  color: #625c55;
}

.card.sunny .button_wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  animation: bouncy 2s infinite linear;
  cursor: auto;
}

.card.sunny .button_wrap .button {
  padding: 5px;
  transform: rotate(-90deg);
  cursor: pointer;
  transition: transform 400ms ease-in-out;
}

.card.sunny .button_wrap .button.active {
  transform: rotate(90deg);
}

.card.sunny .sun {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 10px solid #ffba66;
  animation: spin 15s infinite linear;
}

.card.sunny .sun .rays, .card.sunny .sun .rays:before, .card.sunny .sun .rays:after {
  position: absolute;
  top: 20px;
  left: 67px;
  width: 25px;
  height: 10px;
  background-color: #ffba66;
  border-radius: 5px;
}

.card.sunny .sun .rays:before {
  content: '';
  top: -40px;
  left: -16px;
  transform: rotate(-45deg);
}

.card.sunny .sun .rays:after {
  content: '';
  top: 40px;
  left: -16px;
  transform: rotate(45deg);
}

.card.sunny .sun:before {
  content: '';
  position: absolute;
  top: 68px;
  left: 20px;
  width: 10px;
  height: 25px;
  background-color: #ffba66;
  border-radius: 5px;
}

.card.sunny .sun:after {
  content: '';
  position: absolute;
  top: -43px;
  left: 20px;
  width: 10px;
  height: 25px;
  background-color: #ffba66;
  border-radius: 5px;
}

.card.sunny .rays.two {
  left: -43px;
  transform: scale(-1, 1);
}

/* Specific CSS for the Cloudy card */

.card.snow .top {
  background-color: #8ba4ad;
  background: linear-gradient(to bottom, #8ba4ad, #49535a);
}

body,
html {
  height: 100%;
}

body {
  background-color: #4990E2;
  overflow: hidden;
  margin: 0;
}

.snow_wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 120%;
  height: 100%;
  pointer-events: none;
  animation: snow-direction cubic-bezier(0.445, 0, 0.55, 1) 4s both alternate infinite;
}

@keyframes snow-direction {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(10%);
  }
}

.snow_wrap:before,
.snow_wrap:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  filter: blur(1px);
  animation: snow 10s linear infinite;
  box-shadow:
          -5vw 10vh #fff,
          30vw 5vh #fff,
          55vw 5vh #fff,
          75vw 10vh #fff,
          105vw 15vh #fff,
          -10vw 30vh #fff,
          40vw 25vh #fff,
          60vw 20vh #fff,
          90vw 25vh #fff,
          20vw 40vh #fff,
          5vw 45vh #fff,
          65vw 45vh #fff,
          105vw 40vh #fff,
          50vw 50vh #fff,
          30vw 50vh #fff,
          10vw 55vh #fff,
          20vw 60vh #fff,
          40vw 65vh #fff,
          60vw 60vh #fff,
          80vw 65vh #fff,
          5vw 70vh #fff,
          30vw 75vh #fff,
          55vw 85vh #fff,
          75vw 80vh #fff,
          105vw 75vh #fff,
          20vw 90vh #fff,
          -5vw 95vh #fff,
          65vw 95vh #fff,
          100vw 90vh #fff,

          -5vw 110vh #fff,
          30vw 105vh #fff,
          55vw 105vh #fff,
          75vw 110vh #fff,
          105vw 115vh #fff,
          -10vw 130vh #fff,
          40vw 125vh #fff,
          60vw 120vh #fff,
          90vw 125vh #fff,
          20vw 140vh #fff,
          5vw 145vh #fff,
          65vw 145vh #fff,
          105vw 140vh #fff,
          50vw 150vh #fff,
          30vw 150vh #fff,
          10vw 155vh #fff,
          20vw 160vh #fff,
          40vw 165vh #fff,
          60vw 160vh #fff,
          80vw 165vh #fff,
          5vw 170vh #fff,
          30vw 175vh #fff,
          55vw 185vh #fff,
          75vw 180vh #fff,
          105vw 175vh #fff,
          20vw 190vh #fff,
          -5vw 195vh #fff,
          65vw 195vh #fff,
          100vw 190vh #fff;
}

.snow_wrap:after {
  left: 50px;
  top: 60px;
  animation-duration: 6s;
  width: 8px;
  height: 8px;
  opacity: 0.7;
  filter: blur(3px);
}

@keyframes snow {
  from {
    transform: rotate(10deg) translateY(-100vh);
  }
  to {
    transform: rotate(10deg) translateY(0);
  }
}

.card.cloudy .top {
  background-color: #393a4c;
  background: linear-gradient(to bottom, #393a4c, #212230);
}

.card.cloudy .cloud{
  background-color: #60627b;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card.snow .cloud{
  background-color: #637881;
  box-shadow: 0 1px 3px rgba(99, 120, 129, 0.12), 0 1px 2px rgba(99, 120, 129, 0.24);
}

.card.cloudy .cloud,
.card.snow .cloud {
  position: absolute;
  top :0px;
  left: -200px;
  margin: auto;
  margin-top: 100px;
  width: 60px;
  height: 20px;
  border-radius: 10px;
}

.card.cloudy .cloud.animated,
.card.snow .cloud.animated {
  animation: horizontal 10s infinite linear;
}

.card.cloudy .cloud:after, .card.cloudy .cloud:before {
  position: absolute;
  content: '';
  background-color: #60627b;
}
.card.snow .cloud:after, .card.snow .cloud:before {
  position: absolute;
  content: '';
  background-color: #637881;
}

.card.cloudy .cloud:after,
.card.snow .cloud:after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -10px;
  left: 4px;
}

.card.cloudy .cloud:before,
.card.snow .cloud:before {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 5px;
  top: -20px;
}

/* Specific CSS for the Heavy Rain card */

.card.storm .top {
  background-color: #393a4c;
  background: linear-gradient(to bottom, #2b2b31, #030411);
}

.card.storm .rain_drop,
.card.cloudy .rain_drop {
  position: relative;
  display: inline-block;
  left: 20px;
  width: 4px;
  height: 35px;
  margin-right: 20px;
  border-radius: 2px;
  background-color: #fff;
  background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.6));
}

.card.storm .rain_drop.animated {
  animation: drop 1.5s infinite linear;
}


.card.cloudy .rain_drop.animated {
  animation: drop 4s infinite linear;
}

.card.storm .rain_wrap,
.card.cloudy .rain_wrap {
  width: 150%;
  height: 200%;
  position: absolute;
  left: -25%;
  top: -50%;
  transform: rotate(10deg);
  z-index: 1;
  pointer-events: none;
  background-color: transparent;
}
.card.storm .rain_wrap {
  animation: thunder 8s infinite linear;
}

@keyframes thunder {
  0% {background-color: transparent;}
  80% {background-color: transparent;}
  81% {background-color: rgba(255,255,255,0.7);}
  85% {background-color: transparent;}
  100% {background-color: transparent;}
}

@keyframes drop {
  0% {top: 0;}
  100% {top: 120%;}
}

@keyframes horizontal {
  0% {left: -100px;}
  100% {left: 600px;}
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

@keyframes bouncy {
  0% {bottom: 0;}
  50% {bottom: 6px;}
  100% {bottom: 0;}
}