@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Zilla+Slab:300,400');

.widget {
  padding: 0.25rem;
  width: 100%;
  opacity: 0;

  &.is-visible {
  opacity: 1;
  }

  .content {
    height: 100%;
    background: #FFF;
    overflow: hidden;

    .filter {
      padding: 1%;

      background-color: rgba(11, 11, 11, .60);
      width: 100%;
      color: #fff;
    }

    &.calendar {
      background: url("../images/abstract.jpeg") !important;
      background-size: cover !important;
      height: 100%;
      position: relative;
    }
    &.cake {
      background: url("../images/cake.jpeg") center no-repeat !important;
      background-size: cover !important;
      height: 100%;
      position: relative;
    }
    &.gray-wall {
      background: url("../images/gray-wall.jpeg") !important;
      background-size: cover !important;
      height: 100%;
      position: relative;
    }
    &.idea {
      background: url("../images/idea.jpeg") !important;
      background-size: cover !important;
      height: 100%;
      position: relative;
    }
    &.la-pro {
      background: url("../images/logo-la-pro-poitiers.jpg") center no-repeat !important;
      background-size: cover !important;
      height: 100%;
      position: relative;
    }
    &.wall {
      background: url("../images/wall.jpeg") !important;
      background-size: cover !important;
      height: 100%;
      position: relative;
    }

    &.menu {
      background: url("../images/food-bg.jpeg") !important;
      background-size: cover !important;
      height: 100%;
      position: relative;

      .menu-details {
        text-align: center;
        color: #D6D5B3;
        margin: 5%;

        .description {
          text-align: center;
          line-height: 150%;

          ul {
            padding-left: 0;
            list-style: none;
          }
        }
      }

      .elior {
        background-image: url("../images/elior.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 80px;
        width: 140px;
        position: absolute;
        bottom: -17px;
        right: 0;
      }
    }
    &.birthday {
      color: #495057;
      .title{
        font-family: 'fredericka the great', cursive;
        font-weight: 500;
        font-size: 2.5rem;
        color: rgba(100, 58, 122, .8);
        padding: 1%;
      }
      ul {
        text-align: center;
        list-style: none;
        padding: 4px 0;
        font-weight: 300;
        font-size: 2rem;
        li {
          margin: 24px 0;
        }
      }

    }
  }
}

#week {
  p {
    margin: 0;
  }
;
}


// Variables

// Colors
$color-pink: #f0afcf;
$color-pink-light: lighten($color-pink, 5%);
$color-blue: #7ec4e7;
$color-blue-light: lighten($color-blue, 5%);
$color-black: #181818;
$color-gray: #373737;
$color-white: #fff;
$color-yellow: #ece492;
$color-magenta: #f2569d;
$clock-width: 240px;
// Fonts
@import url(https://fonts.googleapis.com/css?family=Comfortaa:700);
$font-primary: 'Comfortaa', sans-serif;

.clock {
  transform: translate3d(-50%, 0, 0);
  background-color: $color-black;
  border: 10px solid $color-gray;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 10px 10px 55px rgba(0, 0, 0, 0.8);
  height: $clock-width;
  //left: 50%;
  position: relative;
  //top: 50%;
  width: $clock-width;
  margin: auto;
  opacity: 0;

  &.is-visible {
    opacity: 1;
  }

  .hour-markers {
    height: 100%;
    width: 100%;

    .hour-marker {
      transform-origin: center;
      height: 2px;
      left: 0;
      position: absolute;
      top: 50%;
      width: 100%;

      &:before, &:after {
        background-color: $color-gray;
        content: ' ';
        display: block;
        height: 2px;
        position: absolute;
        width: 25px;
      }

      // .hour-marker:before, .hour-marker:after

      &:before {
        left: 0;
      }

      // .hour-marker:before

      &:after {
        right: 0;
      }

      // .hour-marker:after

      @for $i from 1 through 6 {

        &:nth-child(#{$i}) {
          transform: translate3d(0, -50%, 0) rotate(#{30*$i}deg);
        }
        // .hour-marker:nth-child(#{$i})

      }
      // @for

    }
  }

  #sec,
  #min,
  #hour {
    transform-origin: center 15px;
    margin: -15px 0 0 0;
    // transform: translate(-50%, 0);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 50%;
    transition: transform 100ms ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }

  #sec {
    height: 100px;
    width: 2px;
    margin-right: -1px;
    z-index: 2;
    background-color: $color-magenta;
  }

  #min {
    width: 6px;
    height: 100px;
    margin-right: -3px;
    background-color: #fff;
    z-index: 3;

    &:before {
      background-color: $color-black;
      border-radius: 100%;
      content: ' ';
      display: block;
      height: 6px;
      position: absolute;
      top: 12px;
      width: 6px;
    }
  }

  #hour {
    width: 6px;
    height: 70px;
    margin-right: -3px;
    z-index: 1;
  }


}


#date {
  float: right;
  padding: 0 40px 40px 0;

  #monthDay {
    display: block;
    font-size: 60px;
  }

  #year {
    margin: 8px 0 0 55px;
    display: block;
    text-height: 50%;
    font-size: 36px;
    color: rgba(188, 185, 184, 0.7);
  }
}