@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~pickadate-webpack/lib/themes/classic.css";
@import "~pickadate-webpack/lib/themes/classic.date.css";
@import "weather";
@import "weather-icons.min.css";
@import "skew";
@import "information";
@import "menu";
@import "birthday";


.card {
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.15);
    border:none;
}

.card {
    &.news {
        background-color: #76d585;
        color: color-yiq(#76d585)
    }
    &.birthday {
        background-color: #D5764C;
        color: color-yiq(#76d585)

    }
    &.menu {
        background-color: #B62F56;
        color: color-yiq(#76d585)

    }
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.section-header {

    .section-logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow:
                0 0 0 3px #fff
    }
    h2 {
        font-size: 2rem;
    }
}

.section-left{
    z-index: 3;
}

.section-content {
    font-size: 1.25rem;
    ul {
        padding-left: 0;
        list-style: none;
    }
}

.information-content {
    color: #444
}

.w-33{
    width: 33.3333% !important;
}

.w-66{
    width: 66.6666% !important;
}

.separator {
    margin: 10px 0;
    border: 1px solid #C3C3C3;
}

.date{
    font-family: "Roboto", sans-serif;
    /* DATE of release */
    h5 {
        font-size: 6rem;
        color: #C3C3C3;
        color: rgba(0, 0, 0, 0.6);
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    }

    h6,
    #time {
        font-size: 2rem;
        color: #C3C3C3;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.6);
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    }
}

.logo{
    background-image: url("../images/logo.png");
    background-size: contain;
    background-color:white;
    background-repeat:no-repeat;
    height: 80px;
    width: 135px;
    position: absolute;
    top: 0;
    right:0;
    z-index: 30;
}