@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import "circle";


html, body {
    height: 100%;
}

.card {
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.15);
    border:none;
}

.card {
    &.news {
        background-color: #76d585;
        color: color-yiq(#76d585)
    }
    &.birthday {
        background-color: #D5764C;
        color: color-yiq(#76d585)

    }
    &.menu {
        background-color: #B62F56;
        color: color-yiq(#76d585)

    }
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.section-header {

    .section-logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow:
                0 0 0 3px #fff
    }
    h2 {
        font-size: 2rem;
    }
}

.section-left{
    z-index: 3;
}

.section-content {
    font-size: 1.25rem;
    ul {
        padding-left: 0;
        list-style: none;
    }
}

.information-content {
    color: #444
}

.w-33{
    width: 33.3333% !important;
}

.w-66{
    width: 66.6666% !important;
}

.separator {
    margin: 10px 0;
    border: 1px solid #C3C3C3;
}

.date{
    font-family: "Roboto", sans-serif;
    /* DATE of release */
    h5 {
        font-size: 6rem;
    }

   div {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.inset-text-shadow {
    color: #202020;
    //background-color: #2d2d2d;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

.deepshadow {
    color: #e0dfdc;
    text-shadow: 0 -1px 0 #fff,
    0 1px 0 #2e2e2e,
    0 2px 0 #2c2c2c,
    0 3px 0 #2a2a2a,
    0 4px 0 #282828,
    0 5px 0 #262626,
    0 6px 0 #242424,
    0 7px 0 #222,
    0 8px 0 #202020,
    0 9px 0 #1e1e1e;
}

.logo{
    background-image: url("../images/logo.png");
    background-size: contain;
    background-color:white;
    background-repeat:no-repeat;
    height: 80px;
    width: 135px;
    position: absolute;
    top: 0;
    right:0;
    z-index: 30;
}

.demo
{
    padding: 100px 0;
}
.heading-title
{
    margin-bottom: 100px;
}
.serviceBox{
    padding: 30px 30px 30px 90px;
    background: #f8f8f8;
    color: #333;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}
.serviceBox-link {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}


.serviceBox:hover{
    background: #645e9d;
    color: #fff;
}

.serviceBox:after{
    content: "";
    display: block;
    border-top: 500px solid #fff;
    border-left: 500px solid transparent;
    margin-top: -55%;
    margin-left: 100%;
    opacity: 0;
    position: absolute;
    transform: scale(2);
    transition: all 0.3s ease-in-out 0s;
}

.serviceBox:hover:after{
    margin-left: 0;
    opacity: 0.1;
}

.serviceBox .service-icon{
    font-size: 50px;
    color: #645e9d;
    position: absolute;
    top: 40px;
    left: 20px;
    transition:all 0.3s ease-in-out 0s;
}

.serviceBox:hover .service-icon{
    color: #fff;
}

.serviceBox .title{
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 12px 0;
    text-transform: capitalize;
}

.serviceBox .description{
    font-size: 15px;
    color: #a3a3a3;
    line-height: 25px;
    margin: 0;
    transition: all 0.3s ease-in-out 0s;
}

.serviceBox:hover .description{
    color: #fff;
}

@media only screen and (max-width: 990px){
    .serviceBox{ margin-bottom: 15px; }
}


body#homepage{
    padding:0px;
    margin:0px;
    background: #353B3F;

    font-family: 'Arvo', sans-serif;
    color:#FFF;
    height:100%;
    overflow: hidden;
}

.template-corner {
    position: fixed;
    color: #FFF;
    width: 1000px;
    text-align: center;
    font-size: 14px;
    z-index: 99999999;
    font-family: 'Karla';
}
.template-corner.template-top.template-left {
    top: -12px;
    left: -472px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.template-corner.template-top.template-right {
    top: -12px;
    right: -472px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.template-corner.template-bottom.template-left {
    bottom: -12px;
    left: -472px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.template-corner.template-bottom.template-right {
    bottom: -12px;
    right: -472px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.template-corner .template-title {
    position: relative;
    z-index: 999999999999999;
    background: #645e9d;
    height: 80px;
    line-height: 120px;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    font-weight: 600;
    display: block;
    opacity: 0.5;
    transition: 0.2s;
    transition-delay: 1.2s;
}
.template-corner .template-title:hover:after {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.template-corner .template-title .template-icon {
    position: absolute;
    text-align: center;
    top: 24px;
    left: 50%;
    font-size: 26px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.template-corner .template-links {
    position: relative;
    top: -42px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.2s;
    transition-delay: 1s;
}
.template-corner .template-links .template-link {
    display: block;
    cursor: pointer;
    position: absolute;
    transition: all 0.2s;
    transition-delay: 1s;
    left: 0;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    background: #333;
    color: #FFF;
    font-weight: 600;
    height: 41px;
    box-sizing: border-box;
}
.template-corner .template-links .template-link:hover:after {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.template-corner .template-links .template-link span {
    opacity: 0;
    transition: all 0s;
    position: relative;
    -webkit-transform: translateX(-275px) translate3D(0, 0, 0);
    transform: translateX(-275px) translate3D(0, 0, 0);
    display: inline-block;
    transition: all 0.2s;
    transition-delay: 0.6s;
}
.template-corner.template-bottom .template-icon {
    top: 35px;
}
.template-corner.template-bottom .template-title {
    border-top: 2px solid rgba(0, 0, 0, 0.25);
    line-height: 40px;
    background: #46f;
}
.template-corner.template-bottom .template-links {
    top: -50px;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
}
.template-corner:hover .template-title {
    -webkit-animation: none;
    animation: none;
    transition-delay: 0s;
    opacity: 1;
}
.template-corner:hover .template-links {
    transition-delay: 0s;
    opacity: 1;
}
.template-corner:hover .template-links .template-link {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition-delay: 0s;
}
.template-corner:hover .template-links .template-link:nth-of-type(1) {
    -webkit-transform: translate3D(0px, 40px, 0);
    transform: translate3D(0px, 40px, 0);
}
.template-corner:hover .template-links .template-link:nth-of-type(1) span {
    transition-delay: 0.2s;
}
.template-corner:hover .template-links .template-link:nth-of-type(2) {
    -webkit-transform: translate3D(0px, 80px, 0);
    transform: translate3D(0px, 80px, 0);
}
.template-corner:hover .template-links .template-link:nth-of-type(2) span {
    transition-delay: 0.4s;
}
.template-corner:hover .template-links .template-link:nth-of-type(3) {
    -webkit-transform: translate3D(0px, 120px, 0);
    transform: translate3D(0px, 120px, 0);
}
.template-corner:hover .template-links .template-link:nth-of-type(3) span {
    transition-delay: 0.6s;
}
.template-corner:hover .template-links .template-link:nth-of-type(4) {
    -webkit-transform: translate3D(0px, 160px, 0);
    transform: translate3D(0px, 160px, 0);
}
.template-corner:hover .template-links .template-link:nth-of-type(4) span {
    transition-delay: 0.8s;
}
.template-corner:hover .template-links .template-link span {
    opacity: 1;
    transition: 0.2s;
    -webkit-animation: none;
    animation: none;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.template-corner.template-small .template-title {
    font-size: 13px;
    line-height: 25px;
    transition-delay: 0s;
    height: 50px;
}
.template-corner.template-small .template-title .template-icon {
    font-size: 18px;
    top: 21px;
}
.template-corner.template-small.template-top.template-left {
    top: -12px;
    left: -481px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.template-corner.template-small.template-top.template-right {
    top: -12px;
    right: -481px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.template-corner.template-small.template-bottom.template-left {
    bottom: -8px;
    left: -481px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.template-corner.template-small.template-bottom.template-right {
    bottom: -8px;
    right: -481px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}


