<nav class="nav">
    <ul class="navbar">
        <li class="nav-item"><a href="#">Lorem</a></li>
        <li class="nav-item"><a href="#">Nobis</a></li>
        <li class="nav-item"><a href="#">Nostrum</a></li>
        <li class="nav-item"><a href="#">Quia</a></li>
        <li class="nav-item"><a href="#">Non</a></li>
        <li class="nav-item"><a href="#">Voluptate</a></li>
        <li class="nav-item"><a href="#">Magni</a></li>
    </ul><!-- .navbar -->
</nav><!-- .nav -->