<form method="post" action="{{ path('admin_birthday_delete', {'id': birthday.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ birthday.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i>
        <span class="sr-only">{{ 'action.delete'|trans }}</span>
    </button>
</form>
