{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-sm"><i class="fas fa-save"></i> {{ button_label|default('action.save')|trans }}</button>
{{ form_end(form) }}
