<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
{% block meta %}

{% endblock meta %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body id="{% block body_id %}{% endblock %}">

    {% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
