{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block body_id 'homepage' %}

{% block header %}{% endblock header %}

{% block body %}
    <div class="demo">
        <div class="container">
            <div class="row text-center">
                <h1 class="heading-title">Liste des Écrans</h1>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <h3 class="title">web design</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis debitis, harum minima mollitia sunt totam. Amet cumque deleniti eos harum, libero quaerat quos unde!
                        </p>
                    </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <h3 class="title">Web Development</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis debitis, harum minima mollitia sunt totam. Amet cumque deleniti eos harum, libero quaerat quos unde!
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox">
                        <div class="service-icon">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <h3 class="title">Brand Building</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis debitis, harum minima mollitia sunt totam. Amet cumque deleniti eos harum, libero quaerat quos unde!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('admin_dashboard') }}">
    <div class="template-corner template-top template-right">
        <div class="template-title">

                Admin<i class="template-icon fa fa-cogs"></i>


        </div>
    </div>
    </a>

{% endblock %}
